@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
